<div class="section-home-blog">
    <div class="container max-w-1200 mg-side-auto">
        <h3 class="section-title">Blog</h3>
        <div class="row-blog-wrapper d-grid">
            <div class="blog-card">
                <div class="image-wrapper">
                    <img src="https://assets-global.website-files.com/65f9e48e5c1eef427f095599/65f9e8514ecd46f8f336b784_richard-horvath-cPccYbPrF-A-unsplash-p-1080.jpg"
                        alt="">
                </div>
                <div class="content-blog-wrapper">
                    <div class="category-date-wrapper">
                        <div class="category-blog">Design</div>
                        <div class="date-blog">January 17, 2024</div>
                    </div>
                    <div class="title-blog">Strategies for Online Triumph</div>
                </div>
            </div>
            <div class="blog-card">
                <div class="image-wrapper">
                    <img src="https://assets-global.website-files.com/65f9e48e5c1eef427f095599/65f9e8514ecd46f8f336b784_richard-horvath-cPccYbPrF-A-unsplash-p-1080.jpg"
                        alt="">
                </div>
                <div class="content-blog-wrapper">
                    <div class="category-date-wrapper">
                        <div class="category-blog">Design</div>
                        <div class="date-blog">January 17, 2024</div>
                    </div>
                    <div class="title-blog">Strategies for Online Triumph</div>
                </div>
            </div>
            <div class="blog-card">
                <div class="image-wrapper">
                    <img src="https://assets-global.website-files.com/65f9e48e5c1eef427f095599/65f9e8514ecd46f8f336b784_richard-horvath-cPccYbPrF-A-unsplash-p-1080.jpg"
                        alt="">
                </div>
                <div class="content-blog-wrapper">
                    <div class="category-date-wrapper">
                        <div class="category-blog">Design</div>
                        <div class="date-blog">January 17, 2024</div>
                    </div>
                    <div class="title-blog">Strategies for Online Triumph</div>
                </div>
            </div>
        </div>
    </div>
</div>