<div class="section-footer">
    <div class="section-footer-cta">
        <div class="container max-w-1200 mg-side-auto d-grid">
            <div class="title-wrapper">
                <h3 class="section-title">Let’s Work Together</h3>
                <div class="section-subtitle">Elevate your brand. Click for digital excellence!</div>
            </div>
            <div class="button-wrapper">
                <a href="" class="btn-cta">Let's Chat</a>
            </div>
        </div>
    </div>
    <div class="section-footer-nav">
        <div class="container max-w-1200 mg-side-auto">
            <div class="double-col-wrapper d-grid">
                <div class="col-brand">
                    <div class="brand-wrapper">
                        <a href="">
                            <div class="logo-wrapper"><img src="img/white-logo.png" alt=""></div>
                        </a>
                    </div>
                </div>
                <div class="col-footer-nav d-grid">
                    <div class="col-left col-footer d-grid">
                        <div class="footer-nav-title">Menu</div>
                        <a class="footer-nav-item">Home</a>
                        <a class="footer-nav-item">Projects</a>
                        <a class="footer-nav-item">About</a>
                        <a class="footer-nav-item">Contact</a>
                        <a class="footer-nav-item">Blog</a>
                    </div>
                    <div class="col-right col-footer d-grid">
                        <div class="footer-nav-title">Utility Pages</div>
                        <a class="footer-nav-item">Style Guide</a>
                        <a class="footer-nav-item">Licenses</a>
                        <a class="footer-nav-item">Changelog</a>
                    </div>
                </div>
            </div>
            <div class="copyright-wrapper d-grid">
                <div class="copyright-item">© 2024 Ageat Template. All Rights Reserved.</div>
                <div class="creator-wrapper d-grid">
                    <div class="creator-name-wrapper">Made by <span
                            class="creator-name creator-wrapper--item">Nathan</span></div>
                    <div class="powered-name-wrapper">Powered by <span
                            class="powered-namr creator-wrapper--item">Webflow</span></div>
                </div>
            </div>
        </div>
    </div>
</div>