<!-- Section 3 -->
<section class="section-home-3 section-home-project">
    <div class="container mg-side-auto max-w-1200">
      <h3 class="section-title">Recent Projects</h3>
      <div class="section-content">
        <div class="project-wrapper d-grid">
          <!-- Project Card 1 -->
          <div class="project-card">
            <div class="project-overlay"></div>
            <div class="project-image">
              <img src="/img/project-sample-1.jpeg" alt="" />
            </div>
            <div class="project-content d-grid">
              <div class="project-title">TechTide Venture</div>
              <div class="project-subtitle">Digital Branding</div>
            </div>
          </div>

          <!-- Project Card 2 -->
          <div class="project-card">
            <div class="project-overlay"></div>
            <div class="project-image">
              <img src="/img/project-sample-2.jpeg" alt="" />
            </div>
            <div class="project-content d-grid">
              <div class="project-title">TechTide Venture</div>
              <div class="project-subtitle">Digital Branding</div>
            </div>
          </div>

          <!-- Project Card 3 -->
          <div class="project-card">
            <div class="project-overlay"></div>
            <div class="project-image">
              <img src="/img/project-sample-3.jpeg" alt="" />
            </div>
            <div class="project-content d-grid">
              <div class="project-title">TechTide Venture</div>
              <div class="project-subtitle">Digital Branding</div>
            </div>
          </div>

          <!-- Project Card 4 -->
          <div class="project-card">
            <div class="project-overlay"></div>
            <div class="project-image">
              <img src="/img/project-sample-4.jpeg" alt="" />
            </div>
            <div class="project-content d-grid">
              <div class="project-title">TechTide Venture</div>
              <div class="project-subtitle">Digital Branding</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-all-project-wrapper">
        <a href="#" class="btn-all-project">All Project</a>
      </div>
    </div>
  </section>
  <!-- End of Section 3 -->