<!-- Section 2 -->
<section class="section-home-2">
    <div class="container max-w-1200 mg-side-auto">
      <div class="section-content d-grid">
        <div class="col-kiri">
          <h3 class="section-title">Our Services</h3>
        </div>
        <div class="col-kanan">Dive into our expertise in user experience optimization, digital strategy, and cutting-edge technology.</div>
      </div>
      <!-- Card Service Wrapper -->
      <div class="section-service-wrapper d-grid">
        <!-- Card 1 -  Web Design -->
        <div class="service-card">
          <div class="image-wrapper">
            <img src="/img/web-dev-icon.png" alt="Web Development Service" />
          </div>
          <div class="service-content">
            <div class="service-title">Web Development</div>
            <div class="service-subtitle">From corporate sites to e-commerce platforms, we create stunning websites that captivate and convert.</div>
          </div>
        </div>

        <!-- Card 2 - UI/UX -->
        <div class="service-card">
          <div class="image-wrapper"><img src="/img/ui-ux-icon.png" alt="UI / UX Design" /></div>
          <div class="service-content">
            <div class="service-title">UI/UX Design</div>
            <div class="service-subtitle">From wireframing to prototyping, we focus on user-centric design to elevate your digital presence.</div>
          </div>
        </div>

        <!-- Card 3 - Digital Marketing -->
        <div class="service-card">
          <div class="image-wrapper"><img src="/img/seo-icon.png" alt="Digital Marketing" /></div>
          <div class="service-content">
            <div class="service-title">Digital Marketing</div>
            <div class="service-subtitle">We optimize your website to rank higher, driving more organic traffic and attracting qualified leads.</div>
          </div>
        </div>
      </div>
      <!-- End of Card Service Wrapper -->
    </div>
  </section>
  <!-- End of Section 2 -->